In [3]:
import pandas as pd
hr = pd.read_csv('predict.csv')

In [4]:
col_names = hr.columns.tolist()
print("Column names:")
print(col_names)

print("\nSample data:")
hr.head()

Column names:
['name;chance_to_leave']

Sample data:

                             name;chance_to_leave
Антипова Юлія Михайлівна;0                    117
Баран Роман Сергійович;0                      201
Бондаренко Ігор Олегович;0                    101
Борук Олена Володимирівна;0                     5
Бухта Віктор Миколайович;0                     91