In [6]:
import pandas as pd
hr = pd.read_csv('predict.csv')

In [7]:
col_names = hr.columns.tolist()
print("Column names:")
print(col_names)

print("\nSample data:")
hr.head()

Column names:
['name;chance_to_leave']

Sample data:

              name;chance_to_leave
0   Антипова Юлія Михайлівна;0.117
1     Баран Роман Сергійович;0.201
2   Бондаренко Ігор Олегович;0.101
3  Борук Олена Володимирівна;0.005
4   Бухта Віктор Миколайович;0.091